<footer>
      <div class="f-info">
            <div class="f-info-social">
                  <a href="#facebook"><i class="fa-brands fa-facebook"></i></a>
                  <a href="#instagram"><i class="fa-brands fa-instagram"></i></a>
                  <a href="#email"><i class="fa-regular fa-envelope"></i></a>
            </div>
            <div class="f-info-companyname"> &copy WonderLust Private Limited</div>
            <div class="f-info-links">
                  <a href="#Privacy">Privacy</a>
                  <a href="#Terms">Terms</a>
                  <a href="#Sitemap">Sitemap</a>
                  <a href="#Company Details">Company Details</a>
            </div>
      </div>


</footer>